In [28]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

In [31]:
merged_df = pd.read_csv('../data/megaMergedData.csv')
merged_df.head()

,Occupation,total_ear_2018,male_ear_2018,female_ear_2018,total_pop_2018,male_pop_2018,female_pop_2018,total_wor_2018,male_wor_2018,female_wor_2018,...,female_wor_2008,total_ear_1998,male_ear_1998,female_ear_1998,total_pop_1998,male_pop_1998,female_pop_1998,total_wor_1998,male_wor_1998,female_wor_1998
0,Agriculture workers,13640.0,12816.0,13259.0,20.1,17.6,23.7,37.0,32.0,34.0,...,34.8,2109,2756,957,67.3,57.0,77.7,37.9,39.6,36.6
1,Armed forces,NaN,NaN,NaN,0.1,0.2,0.0,NaN,NaN,NaN,...,42.6,3306,3258,4250,0.1,0.1,0.0,48.5,48.5,49.0
2,Clerks,17021.0,14948.0,16161.0,1.2,2.1,0.4,43.0,42.0,43.0,...,44.5,2832,2836,2805,1.1,2.0,0.2,44.1,44.4,41.6
3,Craft & related trades,21803.0,15686.0,21456.0,13.8,18.3,8.2,51.0,35.0,47.0,...,24.6,2773,2973,1393,5.9,8.4,3.5,42.7,46.5,33.8
4,Elementary occupations,15033.0,11388.0,13622.0,20.2,23.4,16.1,48.0,40.0,45.0,...,32.3,1491,1692,1054,13.6,16.1,11.0,40.2,46.1,31.5

In [32]:
mainScalar = StandardScaler()
stander_columns   = ['total_ear_2018', 'male_ear_2018', 'female_ear_2018', 'total_pop_2018', 'male_pop_2018', 'female_pop_2018', 'total_wor_2018', 'male_wor_2018', 'female_wor_2018']
stander_columns_2 = ['total_ear_2008', 'male_ear_2008', 'female_ear_2008', 'total_pop_2008', 'male_pop_2008', 'female_pop_2008', 'total_wor_2008', 'male_wor_2008', 'female_wor_2008']
stander_columns_3 = ['total_ear_1998', 'male_ear_1998', 'female_ear_1998', 'total_pop_1998', 'male_pop_1998', 'female_pop_1998', 'total_wor_1998', 'male_wor_1998', 'female_wor_1998']

mainScalar.fit(merged_df[stander_columns])
normalized_df = mainScalar.fit_transform(merged_df[stander_columns])
normalized_df = mainScalar.fit_transform(normalized_df[stander_columns_2])
normalized_df = mainScalar.fit_transform(normalized_df[stander_columns_3])

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices